.one{
    height: 350px;
    width: 350px;
    color: blue;
    border: 10px solid black;
    display: inline-block;
    margin: 50px;
    padding-left: 100px;
}
.two{
    height: 50px;
    width: 50px;
    color: pink;
    border: 5px solid red;
    display: inline-block;
    margin: 50px;
    padding-left: 8px;
    padding-top: 8px;
}
.three{
    height: 50px;
    width: 50px;
    color: pink;
    border: 5px solid blue;
    display: inline-block;
    padding-left: 8px;
    padding-top: 8px;
    margin: 50px;
}