.design{
    padding-top: 20px;
    text-align: justify;
    background-color: aqua;
            color: brown;
            text-align: justify;
            height: 350px;
            width: 350px;
            text-transform: uppercase;
            text-indent: 30%;
            border-color: red;
            border-style: solid;
            border-width: 10px;
            border: 10px solid red;
            padding: 20px;
            margin: 100px;
            outline: 5px dashed black;
}