.a{
    position: absolute;
    left:50px;
    top: 80px;
    height: 20px;
    width: 400px;
    background-color: black;
    border: 5px solid red;
}
.b{
    position: relative;

    left: 250px;
    height: 400px;
    width: 20px;
    background-color: black;
    border: 5px solid red;
}