.main{
    height:200px;
    width: 200px;
    margin-left: 100px;
    margin-top: 100px;
    position: relative;
}
.first{
    height:200px;
    width: 50px;
    background-color: green;
    position: absolute;
    left: 0px;
    
}
.second{
    height:200px;
    width: 100px;
    background-color: blue;
    position: absolute;
    left: 50px;
}
.third{
    height:200px;
    width: 50px;
    background-color: pink;
    position: absolute;
    left: 50px;
}